img.slide{
    height: 620px;
}
.imgsize{
    height: 200px;
}
.card{
    height: 600px;
    margin-left: 80px;
}
.logo{
    margin-left: 40px;
   
}
p{
    color: white;
}

#home{
    margin-left: 150px;
}
#footer{
    margin-left: 20px;
}